# dependencies
node_modules

# SvelteKit
.svelte-kit
/build

# env files
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/

# claude things
.claude/settings.local.json
